*{
    font-family:monospace;
}
body{
    margin: 0;
}

header{
    height: 100vh;
    color: white;
    background-color: lightskyblue;

}
header h1{
    margin: 0;
}
.button{
    height: 40px;
    width: 140;
    border:none;
    border-radius: 10px;
    text-align: center;
}
.button:hover{
    background-color: blue;
    color:white;
}